<!DOCTYPE html>
<html>
<head>
	<title>Patras Weather Today</title>
	{%include "headInc.html"%}
</head>
<body >
	<div class="row container-fluid">
		<table class="table table-dark">
				{% for p in data['hourly']['data'] %}
				<a href="Test">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<img src="static/svg/{{ p['icon'] }}.svg"height="42" width="42">
						<h5>{{p['summary']}}</h5> 
						<p class="card-text">{{ ctime(p['time']) }}</p>      
					</div>
				</div>
			</a>
			{% endfor %}
		</table>
	</div>
	{%include "bodyInc.html"%}

</body>

</html>